:root{
	--card-width:50em;
	--cards-width:20em;
}

*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

main{
	min-width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards{
	width: 20em;
	height: 40em;
	list-style: none;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
	padding: 0 10em;

	display: flex;
	align-items: center;

	scroll-snap-type: x mandatory;
}

.cards li{
	display: inline-block;
	aspect-ratio: 1;

	animation: linear adjust-z-index both;
	animation-timeline: --li-in-and-out-of-view;

	view-timeline-name: --li-in-and-out-of-view;
	view-timeline-axis: inline;

	scroll-snap-align: center;
}


.cards div{
	width: 10em;
	height: 20em;
	background-color: gray;

	animation: linear scale-cover both;
	animation-timeline: --li-in-and-out-of-view;

	user-select: none;
  -webkit-user-drag: none; 
}

.active{
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

@keyframes adjust-z-index {
	0% {
		z-index: 1;
	}
	50% {
		z-index: 100;
	}
	100% {
		z-index: 1;
	}
}

@keyframes scale-cover{
	50%{
		transform:scale(1.5);
	}
}


@media only screen and (min-width: 769px) {

	.cards{
		width: var(--card-width);		
		padding: 0 calc((var(--card-width) - var(--cards-width)) / 2);
		height: 60em;
	}

	li{
	
		perspective: 40em;
	}
		
	div{
		width: var(--cards-width);
		height: 120%;
		
		animation: linear rotate-cover both;
		animation-timeline: --li-in-and-out-of-view;
	}
	
	@keyframes rotate-cover {
		0% {
			transform: rotateY(-45deg);
		}
		35% {
			transform: rotateY(-45deg);
		}
		50% {
			transform: rotateY(0deg) translateZ(1em) scale(1.5);
		}
		65% {
			transform: rotateY(45deg);
		}
		100% {
			transform: rotateY(45deg);
		}
	}

}

