:root{
  --primary:rgb(255, 255, 255);
  --secondary:rgb(0, 0, 0);
  --article-bg:var(--col1);

  --col1:rgb(255, 0, 0);
  --col2:rgb(0, 255, 0);
  --col3:rgb(0, 0, 255);
  --col4:rgb(255, 255, 0);
  --col5:rgb(0, 255, 255);
  --col6:rgb(255, 0, 255);
}

*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  background-color: var(--secondary);
  width: 100%;
  min-height: 100vh;
}

aside{
  bottom: 0;
  position: fixed;
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#prkt-section{
  background-color: var(--article-bg);
  display: flex;
}

h1{
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
}

.more-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  background-color: var(--primary);
  color: var(--secondary);
  width: 7em;
  height: 3em;
  border-radius: 15px;
}

img{
  width: 100%;
  max-width: 60em;
  max-height: 20em;
}

#tmln-section{
  background-color: var(--article-bg);  
  display: none;
}

#adtl-section{
  background-color: var(--article-bg);  
  display: none;
}

#prdt-section{
  background-color: var(--article-bg);  
  display: none;
}

.sec-button{
  transition: transform 0.5s;
  background-color: var(--secondary);
  border: none;
  background: none;
}

.sec-button:hover{
  background-color: var(--primary);
}

.scale-up{
  transform: scale(3);
}

.button-section{
  min-height: 100vh;
  overflow: hidden;
  padding: 2em;
  padding-bottom: 4em;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-section *{
  margin: 1em 0;
}

/*footer*/
footer div{
  display: flex;
  justify-content: center;
  color: var(--primary);
}

footer{
  background-color:var(--secondary);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;  
  align-items: center;
}

footer p{
  font-size: 0.8em;
  text-align: center;
  color: var(--primary);
}
.footer-links{
  margin:1em 0 3em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 98vw;
}
.footer-links a{
  padding: 0.5em 1em;
  border-right: 1px solid var(--primary);
  color: var(--primary);
}

#no-border{
  border: none;
}

.icon{
  width: 3rem;
  height: 100%;
  fill: var(--primary-text);
  cursor: pointer;
  fill: var(--primary);
}

.icon:hover{
  scale: 1.1;
  transition: 0.3s ease-out;
}

.socials-main{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 30rem;
  margin: 1em 0;
  padding: 0;
}

/*startsection*/
.start-section{
  display: none;
  min-width: 100%;
  min-height: 40vh;
  color: white;
  background-image: url("800x800.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}


/*desktop*/
@media only screen and (min-width: 600px) {

  aside{
    display: none;
  }

  .start-section{
    display: flex;
  }

  .more-button{
    display: none;
  }
  
}

@media only screen and (min-width: 769px) {
}