:root{
  --primary:rgb(255, 255, 255);
  --secondary:rgb(0, 0, 0);
  --article-bg:var(--col1);

  --col1:rgb(255, 0, 0);
  --col2:rgb(0, 255, 0);
  --col3:rgb(0, 0, 255);
  --col4:rgb(255, 255, 0);
  --col5:rgb(0, 255, 255);
  --col6:rgb(255, 0, 255);
}

*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--secondary);
  width: 100%;
  min-height: 100vh;
}

aside{
  bottom: 0;
  position: fixed;
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#prkt-section{
  background-color: var(--article-bg);
  display: flex;
}

h1{
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
}

.more-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  background-color: var(--primary);
  color: var(--secondary);
  width: 7em;
  height: 3em;
  border-radius: 15px;
}

img{
  width: 100%;
}

#tmln-section{
  background-color: var(--article-bg);  
  display: none;
}

#adtl-section{
  background-color: var(--article-bg);  
  display: none;
}

#prdt-section{
  background-color: var(--article-bg);  
  display: none;
}

.sec-button{
  transition: transform 0.5s;
  background-color: var(--secondary);
  border: none;
  background: none;
}

.sec-button:hover{
  background-color: var(--primary);
}

.scale-up{
  transform: scale(3);
}

.button-section{
  min-height: 100vh;
  overflow: hidden;
  padding: 2em;
  padding-bottom: 4em;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-section *{
  margin: 1em 0;
}

@media only screen and (min-width: 600px) {

  aside{
    display: none;
  }

}

@media only screen and (min-width: 769px) {
}